@model IEnumerable<Sample.Shared.DTO.TagFilterDTO>

<p>
    <a asp-action="Create" asp-route-deviceId="@(Context.Request.Query["deviceId"])" asp-route-appCode="@(Context.Request.Query["appCode"])">Create New</a>
    <a asp-action="DeleteAll" asp-route-deviceId="@(Context.Request.Query["deviceId"])" asp-route-appCode="@(Context.Request.Query["appCode"])" >Remove all tags for device: @(Context.Request.Query["deviceId"])</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                <form asp-action="Delete" asp-route-deviceId="@(Context.Request.Query["deviceId"])" asp-route-appCode="@(Context.Request.Query["appCode"])" asp-route-Tag="@item.Tag">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
